<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <h1>{{request.user}}</h1>
        <a href="logout/">log out</a>
        {%else%}
        <a href="login/">log ig</a>
        {%endif%}
        <hr>
        {% comment %} {{color}} {% endcomment %}
        <a href='task-create/'>add a new task</a>
        <br>
        {%for task in all_tasks%}
        
        {{task.title}} {{task.id}} <a href="task/{{task.id}}/">view</a> <a href="taskUpdate/{{task.id}}/">edit</a> <a href="taskDelete/{{task.id}}/">delete</a>
        
        <br> 
        {% empty %}
        <h1>No task avalable</h1>
        {% endfor %}

        
        <script src="" async defer></script>
    </body>
</html>
